
.motomain360 .was-validated textarea.form-control:invalid, .motomain360  .motomain360 textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 1.25rem);
  background-position: top calc(0.375em + 0.3125rem) right calc(0.375em + 0.3125rem); }

.motomain360 .was-validated .custom-select:invalid, .motomain360  .motomain360 .custom-select.is-invalid {
  border-color: #a61b29;
  padding-right: calc((1em + 1.25rem) * 3 / 4 + 2rem);
  background: url("data:image/svg+xml, .motomain360 %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px, .motomain360  url("data:image/svg+xml, .motomain360 %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23e23e4f' fill-rule='nonzero' d='M12.33 11.317l-3.8-7.125a.6.6 0 0 0-1.06 0l-3.8 7.125a.6.6 0 0 0 .53.883h7.6a.6.6 0 0 0 .53-.883zM8 11a.6.6 0 1 1 0-1.2.6.6 0 0 1 0 1.2zm.6-1.8H7.4V6.8h1.2v2.4z'/%3E%3C/svg%3E") #fff no-repeat center right 2rem/calc(0.75em + 0.625rem) calc(0.75em + 0.625rem); }
  .motomain360 .was-validated .custom-select:invalid:focus, .motomain360   .custom-select.is-invalid:focus {
    border-color: #a61b29;
    box-shadow: 0 0 0 0.2rem rgba(166, 27, 41, 0.25); }
  .motomain360 .was-validated .custom-select:invalid ~ .invalid-feedback, .motomain360 
  .motomain360 .was-validated .custom-select:invalid ~ .invalid-tooltip, .motomain360  .custom-select.is-invalid ~ .invalid-feedback, .motomain360 
  .custom-select.is-invalid ~ .invalid-tooltip {
    display: block; }

.motomain360 .was-validated .form-control-file:invalid ~ .invalid-feedback, .motomain360 
.motomain360 .was-validated .form-control-file:invalid ~ .invalid-tooltip, .motomain360  .form-control-file.is-invalid ~ .invalid-feedback, .motomain360 
.form-control-file.is-invalid ~ .invalid-tooltip {
  display: block; }

.motomain360 .was-validated .form-check-input:invalid ~ .form-check-label, .motomain360  .form-check-input.is-invalid ~ .form-check-label {
  color: #a61b29; }

.motomain360 .was-validated .form-check-input:invalid ~ .invalid-feedback, .motomain360 
.motomain360 .was-validated .form-check-input:invalid ~ .invalid-tooltip, .motomain360  .form-check-input.is-invalid ~ .invalid-feedback, .motomain360 
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block; }

.motomain360 .was-validated .custom-control-input:invalid ~ .custom-control-label, .motomain360  .custom-control-input.is-invalid ~ .custom-control-label {
  color: #a61b29; }
  .motomain360 .was-validated .custom-control-input:invalid ~ .custom-control-label::before, .motomain360  .custom-control-input.is-invalid ~ .custom-control-label::before {
    border-color: #a61b29; }

.motomain360 .was-validated .custom-control-input:invalid ~ .invalid-feedback, .motomain360 
.motomain360 .was-validated .custom-control-input:invalid ~ .invalid-tooltip, .motomain360  .custom-control-input.is-invalid ~ .invalid-feedback, .motomain360 
.custom-control-input.is-invalid ~ .invalid-tooltip {
  display: block; }

.motomain360 .was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .motomain360  .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #d22234;
  background-color: #d22234; }

.motomain360 .was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .motomain360  .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(166, 27,  41, 0.25); }

.motomain360 .was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .motomain360  .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #a61b29; }

.motomain360 .was-validated .custom-file-input:invalid ~ .custom-file-label, .motomain360  .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #a61b29; }

.motomain360 .was-validated .custom-file-input:invalid ~ .invalid-feedback, .motomain360 
.motomain360 .was-validated .custom-file-input:invalid ~ .invalid-tooltip, .motomain360  .custom-file-input.is-invalid ~ .invalid-feedback, .motomain360 
.custom-file-input.is-invalid ~ .invalid-tooltip {
  display: block; }

.motomain360 .was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .motomain360  .custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #a61b29;
  box-shadow: 0 0 0 0.2rem rgba(166, 27, 41, 0.25); }

.motomain360 .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }
  .motomain360 .form-inline .form-check {
    width: 100%; }
  @media (min-width: 576px) {
    .motomain360 .form-inline label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0; }
    .motomain360 .form-inline .form-group {
      display: flex;
      flex: 0 0 auto;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 0; }
    .motomain360 .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; }
    .motomain360 .form-inline .form-control-plaintext {
      display: inline-block; }
    .motomain360 .form-inline .input-group, .motomain360 
    .motomain360 .form-inline .custom-select {
      width: auto; }
    .motomain360 .form-inline .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-left: 0; }
    .motomain360 .form-inline .form-check-input {
      position: relative;
      flex-shrink: 0;
      margin-top: 0;
      margin-right: 0.25rem;
      margin-left: 0; }
    .motomain360 .form-inline .custom-control {
      align-items: center;
      justify-content: center; }
    .motomain360 .form-inline .custom-control-label {
      margin-bottom: 0; } }

.motomain360 .fade {
  transition: opacity 0.15s linear; }
  @media (prefers-reduced-motion: reduce) {
    .fade {
      transition: none; } }
  .fade:not(.show) {
    opacity: 0; }

.motomain360 .collapse:not(.show) {
  display: none; }

.motomain360 .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease; }
  @media (prefers-reduced-motion: reduce) {
    .collapsing {
      transition: none; } }

.motomain360 .dropup, .motomain360 
.motomain360 .dropright, .motomain360 
.motomain360 .dropdown, .motomain360 
.motomain360 .dropleft {
  position: relative; }

.motomain360 .dropdown-toggle {
  white-space: nowrap; }
  .motomain360 .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent; }
.motomain360 .dropdown-toggle:empty::after {
    margin-left: 0; }

.motomain360 .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #767676;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

.motomain360 .dropdown-menu-left {
  right: auto;
  left: 0; }

.motomain360  .dropdown-menu-right {
  right: 0;
  left: auto; }

@media (min-width: 576px) {
  .motomain360 .dropdown-menu-sm-left {
    right: auto;
    left: 0; }
    .motomain360 .dropdown-menu-sm-right {
    right: 0;
    left: auto; } }

@media (min-width: 768px) {
  .motomain360 .dropdown-menu-md-left {
    right: auto;
    left: 0; }
  .motomain360 .dropdown-menu-md-right {
    right: 0;
    left: auto; } }

@media (min-width: 992px) {
  .motomain360 .dropdown-menu-lg-left {
    right: auto;
    left: 0; }
  .motomain360 .dropdown-menu-lg-right {
    right: 0;
    left: auto; } }

@media (min-width: 1200px) {
  .motomain360 .dropdown-menu-xl-left {
    right: auto;
    left: 0; }
  .motomain360 .dropdown-menu-xl-right {
    right: 0;
    left: auto; } }

.motomain360 .dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem; }

.motomain360 .dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent; }

  .motomain360 .dropup .dropdown-toggle:empty::after {
  margin-left: 0; }

  .motomain360 .dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem; }

  .motomain360 .dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid; }

  .motomain360 .dropright .dropdown-toggle:empty::after {
  margin-left: 0; }

  .motomain360 .dropright .dropdown-toggle::after {
  vertical-align: 0; }

  .motomain360 .dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem; }

  .motomain360 .dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: ""; }

  .motomain360 .dropleft .dropdown-toggle::after {
  display: none; }

  .motomain360 .dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent; }

  .motomain360 .dropleft .dropdown-toggle:empty::after {
  margin-left: 0; }

  .motomain360 .dropleft .dropdown-toggle::before {
  vertical-align: 0; }

  .motomain360 .dropdown-menu[x-placement^="top"], .motomain360  .dropdown-menu[x-placement^="right"], .motomain360  .dropdown-menu[x-placement^="bottom"], .motomain360  .dropdown-menu[x-placement^="left"] {
  right: auto;
  bottom: auto; }

  .motomain360 .dropdown-divider {
  height: 0;
  margin: 0.8125rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef; }

  .motomain360 .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .motomain360 .dropdown-item:hover, .motomain360  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa; }
    .motomain360 .dropdown-item.active, .motomain360  .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #005eb8; }
    .motomain360 .dropdown-item.disabled, .motomain360  .dropdown-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: transparent; }

    .motomain360 .dropdown-menu.show {
  display: block; }

  .motomain360 .dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap; }

  .motomain360 .dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529; }

  .motomain360 .btn-group, .motomain360 
  .motomain360 .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; }
  .motomain360 .btn-group > .btn, .motomain360 
  .motomain360 .btn-group-vertical > .btn {
    position: relative;
    flex: 1 1 auto; }
    .motomain360 .btn-group > .btn:hover, .motomain360 
    .motomain360 .btn-group-vertical > .btn:hover {
      z-index: 1; }
      .motomain360 .btn-group > .btn:focus, .motomain360  .btn-group > .btn:active, .motomain360  .btn-group > .btn.active, .motomain360 
      .motomain360 .btn-group-vertical > .btn:focus, .motomain360 
      .motomain360 .btn-group-vertical > .btn:active, .motomain360 
      .motomain360 .btn-group-vertical > .btn.active {
      z-index: 1; }

      .motomain360 .btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .motomain360 .btn-toolbar .input-group {
    width: auto; }

    .motomain360 .btn-group > .btn:not(:first-child), .motomain360 
    .motomain360 .btn-group > .btn-group:not(:first-child) {
  margin-left: -1px; }

  .motomain360 .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .motomain360 
  .motomain360 .btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

  .motomain360 .btn-group > .btn:not(:first-child), .motomain360 
  .motomain360 .btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

  .motomain360 .dropdown-toggle-split {
  padding-right: 18.75px;
  padding-left: 18.75px; }
  .motomain360 .dropdown-toggle-split::after, .motomain360 
  .motomain360 .dropup .dropdown-toggle-split::after, .motomain360 
  .motomain360 .dropright .dropdown-toggle-split::after {
    margin-left: 0; }
  .dropleft .dropdown-toggle-split::before {
    margin-right: 0; }

    .motomain360 .btn-sm + .dropdown-toggle-split, .motomain360  .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 18.75px;
  padding-left: 18.75px; }

  .motomain360 .btn-lg + .dropdown-toggle-split, .motomain360  .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 25.5px;
  padding-left: 25.5px; }

  .motomain360 .btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .motomain360 .btn-group-vertical > .btn, .motomain360 
  .motomain360 .btn-group-vertical > .btn-group {
    width: 100%; }
    .motomain360 .btn-group-vertical > .btn:not(:first-child), .motomain360 
    .motomain360 .btn-group-vertical > .btn-group:not(:first-child) {
    margin-top: -1px; }
    .motomain360 .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle), .motomain360 
    .motomain360 .btn-group-vertical > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    .motomain360 .btn-group-vertical > .btn:not(:first-child), .motomain360 
    .motomain360 .btn-group-vertical > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

    .motomain360 .btn-group-toggle > .btn, .motomain360 
    .motomain360 .btn-group-toggle > .btn-group > .btn {
  margin-bottom: 0; }
  .motomain360 .btn-group-toggle > .btn input[type="radio"], .motomain360 
  .motomain360 .btn-group-toggle > .btn input[type="checkbox"], .motomain360 
  .motomain360 .btn-group-toggle > .btn-group > .btn input[type="radio"], .motomain360 
  .motomain360 .btn-group-toggle > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0,  0,  0, 0);
    pointer-events: none; }

    .motomain360 .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }
  .motomain360 .input-group > .form-control, .motomain360 
  .motomain360 .input-group > .form-control-plaintext, .motomain360 
  .motomain360 .input-group > .custom-select, .motomain360 
  .motomain360 .input-group > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0; }
    .motomain360 .input-group > .form-control + .form-control, .motomain360 
    .motomain360 .input-group > .form-control + .custom-select, .motomain360 
    .motomain360 .input-group > .form-control + .custom-file, .motomain360 
    .motomain360 .input-group > .form-control-plaintext + .form-control, .motomain360 
    .motomain360 .input-group > .form-control-plaintext + .custom-select, .motomain360 
    .motomain360 .input-group > .form-control-plaintext + .custom-file, .motomain360 
    .motomain360 .input-group > .custom-select + .form-control, .motomain360 
    .motomain360 .input-group > .custom-select + .custom-select, .motomain360 
    .motomain360 .input-group > .custom-select + .custom-file, .motomain360 
    .motomain360 .input-group > .custom-file + .form-control, .motomain360 
    .motomain360 .input-group > .custom-file + .custom-select, .motomain360 
    .motomain360 .input-group > .custom-file + .custom-file {
      margin-left: -1px; }
  .motomain360 .input-group > .form-control:focus, .motomain360 
  .motomain360 .input-group > .custom-select:focus, .motomain360 
  .motomain360 .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: 3; }
    .motomain360 .input-group > .custom-file .custom-file-input:focus {
    z-index: 4; }
    .motomain360 .input-group > .form-control:not(:last-child), .motomain360 
    .motomain360 .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    .motomain360 .input-group > .form-control:not(:first-child), .motomain360 
    .motomain360 .input-group > .custom-select:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .motomain360 .input-group > .custom-file {
    display: flex;
    align-items: center; }
    .motomain360 .input-group > .custom-file:not(:last-child) .custom-file-label, .motomain360 
    .motomain360 .input-group > .custom-file:not(:last-child) .custom-file-label::after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
      .motomain360 .input-group > .custom-file:not(:first-child) .custom-file-label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

      .motomain360 .input-group-prepend, .motomain360 
      .motomain360 .input-group-append {
  display: flex; }
  .motomain360 .input-group-prepend .btn, .motomain360 
  .motomain360 .input-group-append .btn {
    position: relative;
    z-index: 2; }
    .motomain360 .input-group-prepend .btn:focus, .motomain360 
    .motomain360 .input-group-append .btn:focus {
      z-index: 3; }
    .motomain360 .input-group-prepend .btn + .btn, .motomain360 
    .motomain360 .input-group-prepend .btn + .input-group-text, .motomain360 
    .motomain360 .input-group-prepend .input-group-text + .input-group-text, .motomain360 
    .motomain360 .input-group-prepend .input-group-text + .btn, .motomain360 
    .motomain360 .input-group-append .btn + .btn, .motomain360 
    .motomain360 .input-group-append .btn + .input-group-text, .motomain360 
    .motomain360 .input-group-append .input-group-text + .input-group-text, .motomain360 
    .motomain360 .input-group-append .input-group-text + .btn {
    margin-left: -1px; }

    .motomain360 .input-group-prepend {
  margin-right: -1px; }
